@import "/src/utilities/variables";

.overlay {
  position: fixed;
  z-index: 14;
  min-height: 100vh;
  width: 100%;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

pagination-controls {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-55%, -50%);
  @media screen and (max-width: $small) {
    font-size: 12px;
  }
}

.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: $small) {
    flex-direction: column;
  }
}

.dropdown {
  width: fit-content;
  position: absolute;
  right: 1rem;
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 0.5rem;
  font-size: small;

  @media screen and (max-width: $large) {
    font-size: x-small;
    position: unset;
    grid-auto-flow: row;
  }
}

.search {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 1rem;
  font-size: small;

  @media screen and (max-width: $small) {
    grid-auto-flow: row;
  }

  input {
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid gray;
    background: transparent;

    &:hover,
    &:focus {
      outline: 1px solid black;
    }
  }

  label {
    @media screen and (max-width: $small) {
      font-size: x-small;
    }
  }
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  gap: 0.5rem;
  @media screen and (max-width: $small) {
    font-size: small;
  }
}

button {
  all: unset;
  float: right;
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}

button:hover {
  color: rgb(45, 45, 45);
  background: rgb(199, 199, 199);
  border-radius: 30%;
}

main {
  padding: 1rem;
}

table {
  margin-top: 1rem;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 3rem;
  width: 100%;
  font-size: smaller;

  @media screen and (max-width: $medium) {
    margin-top: 1rem;
  }
}

table td {
  padding: 0.4rem;
  height: 0.1rem;
  text-align: center;
  width: 100%;
  margin: auto;
}

table thead td {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}

table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}
table tbody tr {
  background-color: #f9fafb;
  height: max-content;
}
table tbody tr:nth-child(odd) {
  background-color: #ffffff;
  height: auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0.5rem;
  bottom: 0;
  width: 100%;
  position: fixed;
  border-radius: 10px;
  background-color: rgb(237, 237, 237);
  z-index: 1;
}

select {
  border: 0;
  outline: 0;
  width: 4em;
  height: 2.5em;
  color: black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  option {
    color: black;
    background-color: $option;
  }
  &:focus {
    outline: none;
  }
  &::-ms-expand {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
