<div class="overlay" *ngIf="isModalOpen" ></div>
<app-sidebar />
 <main>
  <div class="filters">
      <div class="search">
        <label>Filtrar por ano-mês: </label>
        <input ngModel maxlength="7" name="anoMesInput" (ngModelChange)="onInputChange($event)" type="text" class="input-ano-mes" placeholder="ex: 2022-12">
      </div>
      <div class="dropdown">
        <span>Itens por página: </span>
        <select #t (change)="selectSize(t.value)" name="size" id="size">
          <option value="5">5</option>
          <option value="10" selected>10</option>
          <option value="15">15</option>
        </select>
      </div>
  </div>
  <div class="no-data" *ngIf="data.length < 1">
    <i class="fa fa-database" aria-hidden="true"></i><span>Não há dados para exibir</span>
  </div>
   <table *ngIf="data.length > 0">
     <thead>
       <tr>
         <th>Instituição financeira</th>
         <th>Modalidade</th>
         <th>CNPJ 8</th>
         <th>Posição</th>
         <th>Taxa de juros/mês</th>
         <th>Taxa de juros/ano</th>
         <th>Mês</th>
         <th>Ano-mês</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let op of data | 
       paginate: {
         itemsPerPage: size,
         currentPage: page,
         totalItems: totalItems - 10
       }; let i = index">
         <td>{{ op.instituicao_financeira }}</td>
         <td>{{ op.modalidade }}</td>
         <td>{{ op.cnpj_8 }}</td>
         <td>{{ op.posicao }}</td>
         <td>{{ op.taxa_juros_ao_mes }}</td>
         <td>{{ op.taxa_juros_ao_ano }}</td>
         <td>{{ op.mes }}</td>
         <td>{{ op.ano_mes }}</td>
         <td><button 
           class="btn" (click)="toggleEditModal(op.uuid)"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button></td>
         <td><button 
           class="btn" (click)="toggleDeleteModal(op.uuid)" ><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></td>
       </tr>
     </tbody>
     <tr></tr>
   </table>
   <div class="pagination">
     <pagination-controls
     (pageChange)="renderPage($event)"
     previousLabel="Anterior"
     nextLabel="Próximo"
     screenReaderPaginationLabel="Páginas"
     screenReaderPageLabel="Página"
     screenReaderCurrentLabel="Você está na página">
     </pagination-controls>
   </div>
 </main>
 <app-modal *ngIf="isModalOpen" (close)="closeModal($event)">
   <app-edit-form *ngIf="isEdit" (submit)="onUpdate($event)" (close)="closeModal($event)" />
   <app-delete *ngIf="isDelete" (submit)="onDelete($event)" (close)="closeModal($event)" />
 </app-modal>