@import "/src/utilities/variables";

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 4rem 2rem 4rem;
  max-width: 36rem;
  z-index: 15;
  border-radius: 5px;
  background: rgb(220, 220, 220);

  @media screen and (max-width: $medium) {
    z-index: 100;
    margin-top: 6rem;
  }
}

button {
  all: unset;
  float: right;
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}

button:hover {
  color: rgb(45, 45, 45);
  background: rgb(199, 199, 199);
  border-radius: 50%;
}
