<app-sidebar />
<div class="wrapper">
  <div class="container">
    <i class="fa fa-university fa-5x" aria-hidden="true"></i
      >
    <h1>SAURS DASFN</h1>
    <h3>Aplicação que lê, salva, remove e apresenta dados das taxas de juros de operações de crédito por instituição financeira, buscando diretamente do catálogo de dados abertos do sistema financeiro nacional (DASFN) do Banco Central do Brasil.</h3>
  </div>
  <svg class="wave-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e4e4e4" fill-opacity="1" d="M0,160L480,224L960,96L1440,256L1440,320L960,320L480,320L0,320Z"></path></svg>
</div>