@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=IBM+Plex+Mono:wght@300&display=swap");
@import "/src/utilities/variables";

.container {
  display: grid;
  place-items: center;
  gap: 5rem;

  h1 {
    font-size: 5rem;
    font-family: "Space Grotesk", sans-serif;

    @media screen and (max-width: $medium) {
      font-size: 2rem;
    }
  }

  h3 {
    font-family: "IBM Plex Mono", monospace;
    width: 36rem;
    z-index: 5;
    @media screen and (max-width: $medium) {
      width: 14rem;
      font-size: 0.8rem;
    }

    @media screen and (max-width: $small) {
      width: 10rem;
      font-size: 0.6rem;
    }
  }

  i {
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 4rem;
}

.wave-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
