<div class="overlay" *ngIf="isOpen"></div>
<div class="sidebar" [style.width]="width">
  <div class="content">
    <div class="wrapper">
      <button
        mat-mini-fab
        color="basic"
        class="btn home-btn"
        [routerLink]="'/'"
      >
        <i class="fa fa-university fa-lg" aria-hidden="true"></i>
      </button>
      <span *ngIf="isOpen">IBM DASFN</span>
    </div>

    <div class="links">
      <div class="wrapper">
        <div class="icon">
          <button
            mat-mini-fab
            color="basic"
            class="btn"
            [routerLink]="'/listar'"
          >
            <i class="fa fa-list fa-lg" aria-hidden="true"></i>
          </button>
        </div>
        <span *ngIf="isOpen">LISTAR</span>
      </div>
      <div class="wrapper">
        <div class="icon">
          <button
            mat-mini-fab
            color="basic"
            class="btn"
            [routerLink]="'/adicionar'"
            (click)="sendFormType()"
          >
            <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
          </button>
        </div>
        <span *ngIf="isOpen">ADICIONAR</span>
      </div>
    </div>
    <button
      mat-mini-fab
      color="basic"
      class="btn back-btn"
      (click)="toggleSidebar()"
    >
      <i
        class="fa fa-chevron-circle-right fa-lg open"
        aria-hidden="true"
        [style.transform]="transform"
      ></i>
    </button>
  </div>
</div>
