<form [formGroup]="group" (ngSubmit)="onSubmit()" #regForm="ngForm">
  <div class="container">
    <mat-form-field hideRequiredMarker class="field" appearance="fill">
      <mat-label for="instituicaoFinanceira"
        >Instituição financeira:
      </mat-label>
      <input
        matInput
        id="instituicaoFinanceira"
        type="text"
        formControlName="instituicaoFinanceira"
        required
      />
      <mat-error
        *ngIf="instituicaoFinanceira && instituicaoFinanceira.invalid"
        >{{ notNullError }}</mat-error
      >
    </mat-form-field>

    <mat-form-field hideRequiredMarker class="field" appearance="fill">
      <mat-label for="cnpj8">CNPJ: </mat-label>
      <input
        matInput
        id="cnpj8"
        type="text"
        formControlName="cnpj8"
        maxlength="8"
        required
      />
      <mat-error *ngIf="cnpj8 && cnpj8.invalid">{{
        getCnpjErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker class="field" appearance="fill">
      <mat-label for="modalidade">Modalidade: </mat-label>
      <input
        matInput
        id="modalidade"
        type="text"
        formControlName="modalidade"
        required
      />
      <mat-error *ngIf="modalidade && modalidade.invalid">{{
        notNullError
      }}</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker class="field" appearance="fill">
      <mat-label for="posicao">Posição: </mat-label>
      <input
        matInput
        (keydown)="validateNumbers($event)"
        (input)="replaceInvalid($event)"
        id="posicao"
        type="number"
        formControlName="posicao"
        required
      />
      <mat-error *ngIf="posicao && posicao.invalid">{{
        getPosicaoErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker class="field" appearance="fill">
      <mat-label for="taxaJurosAno">Taxa de juros ao ano: </mat-label>
      <input
        matInput
        (keydown)="validateNumbers($event)"
        (input)="replaceInvalid($event)"
        id="taxaJurosAno"
        type="number"
        formControlName="taxaJurosAno"
        required
      />
      <mat-error *ngIf="taxaJurosAno && taxaJurosAno.invalid">{{
        getTaxaAnoErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker class="field" appearance="fill">
      <mat-label for="taxaJurosMes">Taxa de juros ao mês: </mat-label>
      <input
        matInput
        (keydown)="validateNumbers($event)"
        (input)="replaceInvalid($event)"
        id="taxaJurosMes"
        type="number"
        formControlName="taxaJurosMes"
        required
      />
      <mat-error *ngIf="taxaJurosMes && taxaJurosMes.invalid">{{
        getTaxaMesErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field hideRequiredMarker class="field" appearance="fill">
      <mat-label for="mes">Mês: </mat-label>
      <input
        matInput
        (keydown)="validateNumbers($event)"
        (input)="replaceInvalid($event)"
        id="mes"
        type="number"
        min="1"
        max="12"
        step="1"
        formControlName="mes"
        required
        maxlength="2"
      />
      <mat-error *ngIf="mes && mes.invalid">{{
        getMesErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <mat-form-field hideRequiredMarker class="field" appearance="fill">
      <mat-label for="ano">Ano: </mat-label>
      <input
        matInput
        (keydown)="validateNumbers($event)"
        (input)="replaceInvalid($event)"
        id="ano"
        type="number"
        min="1900"
        max="{{ currentYear }}"
        step="1"
        formControlName="ano"
        maxlength="4"
        #date
        required
      />
      <mat-error *ngIf="ano && ano.invalid">{{
        getAnoErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div class="btn-wrap">
      <button mat-stroked-button color="basic" type="submit">ENVIAR</button>
    </div>
  </div>
</form>
